h1, a {
  font-family: "Roboto Mono";
  color: #0000ff;
}

span {
  color: red;
}

.form {
  width: 1100px;
  margin: auto;
}

.form__container {
  padding-top: 20px;
  text-align: left;
  padding: 50px;
  font-family: "Roboto Mono";
  font-size: 20px;
  color: #0000ff;
  border: 1px solid #0000ff;
}

input[type=text] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #0000ff;
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #0000ff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  border: 1px solid #0000ff;
  box-sizing: border-box;
  display: inline-block;
  padding: 12px;
  margin: 8px 0;
  width: 20%;
}
